.packet-modifying-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.packet-modifying-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}

.input-group-text, .form-control {
    font-size: 1.8rem;
}

.btn-commit {
    display: block;
    margin-left: auto;
    font-size: 2rem;
    padding: 6px 14px;
}

#img-review, #icon-review {
    display: flex;
    border: 1px solid #000;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-left: 4px;
    background-color: #999;
}

.input-image {
    display: flex;
    flex-grow: 2;
    height: fit-content;
}
