.manage-container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.manage-title {
    font-size: 4rem;
    text-align: center;
    margin-top: 20px;

}

.manage-header-table {
    font-size: 1.6rem;
}

.manage-text-table {
    font-size: 1.4rem;
}

.manage-btn {
    font-size: 1.6rem;
    padding: 6px 16px;
    margin-bottom: 4px;
}
