.contact__warpper {
    display: flex;
}

.contact__slider {
    position: relative;
    background-position: top center;
    top: -104px;
    background-size: cover;
    min-height: 500px;
}

.contact__slider-title {
    position: absolute;
    display: inline-block;
    bottom: 20%;
    font-size: 5rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    z-index: 3;
}

.contact__title {
    font-size: 4.5rem;
    font-weight: 400;
    color: #000;
    margin-top: -30px;
    margin-bottom: 60px;
}


.contact__form-title-name {
    font-size: 3rem;
    color: #000;
    font-weight: 400;
}

.contact__form-title-subname {
    font-size: 1.8rem;
    color: #5c626a;
    font-style: italic;
    margin-bottom: 20px;
}


.overlay-contact {
    display: block !important;
    max-height: 500px;
    z-index: 0 !important;
}

