.wrapper-item {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: rgba(22, 24, 35, 0.05);;
    }
}

.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.title {
    font-size: 1.6rem;
    color: #000;

}

.location {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}
