.header-nav {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    height: 104px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}
.nav {
    position: absolute;
    display: flex;
    height: 64px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.nav__logo img {
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.nav__list {
    display: flex;
}

.nav__item a,
.nav__item {
    position: relative;
    list-style: none;
    font-size: 1.7rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 10px;
    text-align: center;
    cursor: pointer;
    margin: 0 5px;
}

.nav__item a:hover {
    text-decoration: none;
    color: #fff;
}

.nav__item--btn {
    background-color: #ba71da;
    border-radius: 50px;
    padding: 8px 10px;
}

.nav__icon {
    padding: 0 15px;
    text-decoration: none;
    font-size: 2.6rem;
    color: #bcbabc;
    cursor: pointer;
}

.navigation {
    position: fixed;
    width: 350px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
    overflow-y: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.3s;
}

.navigation__container {
    padding: 20px 15px;
    margin-top: 20px;
}

.btn-close {
    font-size: 1.2rem;
    position: absolute;
    right: 15px;
    top: 15px;
    border: 1px solid #9a9a9a;
    padding: 5px;
    border-radius: 50%;
    color: #9a9a9a;
    cursor: pointer;
}

.nav__packages-sub-title {
    text-align: center;
    font-size: 1.4rem;
    color: #555;
    letter-spacing: 2px;
}

.nav__packages-title {
    text-align: center;
    font-size: 2.6rem;
    margin-top: 10px;
    color: #555;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 30px;
}
u {
    position: relative;
    text-decoration: none;
}
.nav__packages-title u::after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ffd105;
    z-index: -2;
}

.navigation__packages {
    margin-top: 10px;
}

.nav__packages-item {
    display: flex;
    padding: 20px 15px;
}

.nav__packages__item-img-pic {
    width: 100px;
    padding-right: 30px;
}

.nav__packages-item-info {
    flex: 1;
}

.nav__packages-item-info-name {
    font-size: 1, 4rem;
    color: #555;
    font-weight: 400;
    padding-bottom: 10px;
}

.nav__packages-item-img-icon {
    padding: 7px 15px;
    border-radius: 50px;
    transform: translateY(50%);
    bottom: 0;
    right: 20px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.des__item-of-navigation {
    margin-top: 30px;
    position: relative;
    padding: 0 15px;
}

.navigation-section {
    width: 100%;
}

.navigation-section.des__item-img {
    padding: 0;
}

// Header mini
.header-mini {
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 10;
    // display: none;
}

.header-mini__up-btn {
    font-size: 4rem;
    outline: none;
    border-radius: 50%;
    color: #e46d30;
    border: none;
    background-color: transparent;
    transform: scale(0);
    transition: all ease-out .3s;

    :hover{ 
        color: #e46d30;
    }

    .active {
        transform: scale(1);
    }
}